[submodule "submodules/incubator-datasketches-characterization"]
	path = submodules/incubator-datasketches-characterization
	url = https://github.com/apache/incubator-datasketches-characterization
[submodule "submodules/incubator-datasketches-memory"]
	path = submodules/incubator-datasketches-memory
	url = https://github.com/apache/incubator-datasketches-memory
[submodule "submodules/incubator-datasketches-java"]
	path = submodules/incubator-datasketches-java
	url = https://github.com/apache/incubator-datasketches-java
